{% extends "Blog::content.PageDesign" %}

{% block Body %}

    <div class="container text-center my-4">
        <h1>{{ trans("Blog::Blog.blogListTitle") }}</h1>
    </div>

    <div class="container my-4">

        <main class="">

            <div class="blog-list" itemscope itemtype="https://schema.org/Blog">

                <meta itemprop="description" content="{{ trans("Blog::Blog.blogListMetaDescription") }}">

                {% for blog in blogList %}

                    {% include "Blog::content.partials.BlogListItem" %}

                {% endfor %}

            </div>

        </main>

    </div>

{% endblock %}