{% extends "Blog::content.PageDesign" %}

{% block Body %}

    <div class="container text-center my-4">
        <h1>Blog</h1>
    </div>

    <div class="container my-4">

        <main class="">

            <!-- TODO: show only if admin -->
            <div class="blog-admin-create text-center my-4">
                <!-- modal trigger -->
                <button class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg"><i
                            class="fa fa-plus"
                            aria-hidden="true"></i>&emsp;Neuer
                    Blog-Beitrag
                </button>
            </div>
            <!-- /admin -->

            <div class="blog-list" itemscope itemtype="https://schema.org/Blog">

                <meta itemprop="description" content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.">

                {% for blog in blogList %}

                    {% include "Blog::content.partials.BlogListItem" %}

                {% endfor %}

                {#<article class="blog-list-item card mb-4" itemprop="blogPost" itemscope#}
                         {#itemtype="https://schema.org/BlogPosting">#}

                    {#<div class="row align-items-stretch">#}

                        {#<div class="blog-list-img-col col-md-6 pl-md-0 d-flex">#}
                            {#<a class="card-img-top card-img-md-left of-hidden" href="Titel">#}
                                {#<img class="blog-list-img img-fluid d-block zoom-img-hover" src="imgUrl" alt="Image 1"#}
                                     {#itemprop="image">#}
                            {#</a>#}
                        {#</div>#}

                        {#<div class="blog-list-text-col has-fadeout-gradient-card col-md-6 pr-md-0 d-flex">#}
                            {#<div class="blog-list-text align-self-center card-block pb-1">#}
                                {#<header>#}
                                    {#<h2 class="" itemprop="headline"><a class="d-block" href="#" itemprop="url">Blog#}
                                            {#Titel</a></h2>#}

                                    {#<meta itemprop="description" content="Preview Text">#}
                                    {#<ul class="blog-meta-list list-inline small text-secondary">#}
                                        {#<li class="list-inline-item blog-list-published mr-2"><i#}
                                                    {#class="fa fa-calendar text-primary" aria-hidden="true"></i>#}
                                            {#<time itemprop="datePublished" datetime="2017/01/01T00:00">01.01.2017</time>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item blog-list-author mr-2"><i#}
                                                    {#class="fa fa-user text-primary" aria-hidden="true"></i>#}
                                            {#<div class="d-inline text-secondary" itemprop="author" itemscope#}
                                                 {#itemtype="http://schema.org/Person"><span#}
                                                        {#itemprop="name">Autor Name</span>#}
                                            {#</div>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</header>#}
                                {#<div class="blog-list-preview-text text-muted" itemprop="articleBody">#}
                                    {#<p>#}
                                        {#Preview Text#}
                                    {#</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                    {#</div>#}

                    {#<!-- TODO: show only if admin -->#}
                    {#<div class="blog-admin-edit">#}
                        {#<!-- modal trigger -->#}
                        {#<button class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg"><i#}
                                    {#class="fa fa-pencil" aria-hidden="true"></i>&emsp;Bearbeiten#}
                        {#</button>#}
                    {#</div>#}
                    {#<!-- /admin -->#}

                {#</article>#}

                {#<article class="blog-list-item card mb-4 blog-item-inactive" itemprop="blogPost" itemscope#}
                         {#itemtype="https://schema.org/BlogPosting">#}

                    {#<div class="row align-items-stretch flex-row-reverse">#}

                        {#<div class="blog-list-img-col col-md-6 pr-md-0 d-flex">#}
                            {#<a class="card-img-top card-img-md-right of-hidden" href="#">#}
                                {#<img class="blog-list-img img-fluid d-block zoom-img-hover" src="imgUrl" alt="Image 1"#}
                                     {#itemprop="image">#}
                            {#</a>#}
                        {#</div>#}

                        {#<div class="blog-list-text-col has-fadeout-gradient-card col-md-6 pl-md-0 d-flex">#}
                            {#<div class="blog-list-text align-self-center card-block pb-1">#}
                                {#<header>#}
                                    {#<h2 class="" itemprop="headline"><a class="d-block" href="#" itemprop="url">Blog#}
                                            {#Titel</a></h2>#}
                                    {#<!-- TODO: show teaser text (short description) of blog item in following meta tag -->#}
                                    {#<meta itemprop="description" content="Preview">#}
                                    {#<ul class="blog-meta-list list-inline small text-secondary">#}
                                        {#<li class="list-inline-item blog-list-published mr-2"><i#}
                                                    {#class="fa fa-calendar text-primary" aria-hidden="true"></i>#}
                                            {#<time itemprop="datePublished" datetime="2017/01/01T00:00">01.01.2017</time>#}
                                        {#</li>#}
                                        {#<li class="list-inline-item blog-list-author mr-2"><i#}
                                                    {#class="fa fa-user text-primary" aria-hidden="true"></i>#}
                                            {#<div class="d-inline text-secondary" itemprop="author" itemscope#}
                                                 {#itemtype="http://schema.org/Person"><span#}
                                                        {#itemprop="name">Autor Name</span>#}
                                            {#</div>#}
                                        {#</li>#}
                                    {#</ul>#}
                                {#</header>#}
                                {#<div class="blog-list-preview-text text-muted" itemprop="articleBody">#}
                                    {#<p>#}
                                        {#Preview Text#}
                                    {#</p>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}

                    {#</div>#}

                    {#<!-- TODO: show only if admin -->#}
                    {#<div class="blog-admin-edit">#}
                        {#<!-- modal trigger -->#}
                        {#<button class="btn btn-warning" data-toggle="modal" data-target=".bd-example-modal-lg"><i#}
                                    {#class="fa fa-pencil" aria-hidden="true"></i>&emsp;Bearbeiten#}
                        {#</button>#}
                    {#</div>#}
                    {#<!-- /admin -->#}

                {#</article>#}

            </div>

            {% include "Blog::content.partials.CreateNewBlog" %}

        </main>

    </div>

{% endblock %}